*{
    font-family: 'Single Day', cursive;
}

.space{
    width: 100%;
    height: 7.3vw;
    background-color:  #e3d7ff;
}

/*pages-start*/
.main{
  background-color:  #e3d7ff;
    height: 40.403vw;
}

.main-home{
    padding-top: 14.356vw;
    height: 48.403vw;
}

.main-project{
    height: 40.403vw;
}

.main-about{
    height: 40.403vw;
    
}

.main-contact{
    height: 40.403vw;
}

/*pages-close*/

/*home page start*/
.home-topic{
    font-size:8vw;
    height: 40%;
}

.home-quote{
    font-size:2.8vw;
    height: 10%;
}

.home-main-bar{
    text-align: center;
    color: rgba(10, 17, 40, 1);
}


/*home page close*/

/*project page open*/
.project-topic{
    font-size: 6vw;
    text-align: center;
    color: #8093f1;
}

.project-quote{
    font-size: 1.5vw;
    text-align: center;
    justify-content: center;
    color: #21295c;
}

.all-project-bar{  
    margin-left: 8vw;
}

hr{
    background-color: #8093f1;
}

.project-item{
    float: left;
    height: 21vw;
    width:16%;
    margin-top: 1.669vw;  
    margin-left: 1.669vw;
}

.project-image{
    height: 60%;
    width: 80%;
    margin: auto;
    margin-top: 1.002vw; 
    border-radius: 1.669vw;
    border: 0.534vw solid rgba(10, 17, 40, 1);
}

.project-image:hover{
    background-color: rgba(10, 17, 40, 1);
}

.project-image:hover .project-img-bottom{
    display: none;
}

.project-image:hover .project-img-top{
    display: block;
}

.project-name{
    height: 9%;
    width: 100%;
    margin: auto;
    margin-top: 0.534vw;
    font-size: 1.2vw; 
    text-align: center;
    color: #21295c;
}

.project-img-bottom{
    width: 55%;
    height: 55%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2.5vw;
}

.project-img-top{
    width: 55%;
    height: 55%;
    display: none;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2.5vw;
}
/*project page end*/

/*about page open*/

.about-topic{
    font-size: 7vw;
    width: 33%;
    text-align: center;
    color: rgba(10, 17, 40, 1);
}

/*about page end*/

/*contact page open*/

.contact-topic{
    font-size: 7vw;
    width: 100%;
    text-align: center;
    color: rgba(1, 31, 84, 0.8);
}

#contact{
    height: 46.741vw;
}

/*contact page end*/

/*navbar-start */

.logo-name{
    color: #e3d7ff;
    font-size: 2vw;
  }

#navbar {
    background-color: rgba(10, 17, 40, 1); 
    position: fixed; /* Make it stick/fixed */
    top: -8.681vw; /* Hide the navbar 50 px outside of the top view */
    width: 100%; 
    transition: top 0.8s; /* Transition effect when sliding down (and up) */
  }

  .nav_right {
    background-color: rgba(10, 17, 40, 1); 
    float: right;
  }

  .nav_right a {
    float: left;
    display: block;
    color: #e3d7ff;
    background-color: rgba(10, 17, 40, 1); 
    text-align: center;
    padding: 0.768vw 1.4vw;
    text-decoration: none;
    font-size: 1.5vw;
  }

  .dropbtn {
    font-size: 1.5vw;
    color: #e3d7ff;
    background-color: rgba(10, 17, 40, 1); 
    padding: 0.768vw 1.4vw;
    font-family: inherit;
    border: none;
  }

  .dropdown {
    float: left;
    position: relative;
  }
  
  .nav_right a:hover, .dropdown:hover .dropbtn {
    background-color: #afa2ff;
    color: rgba(10, 17, 40, 1);
  }

  .dropdown-content {
    display: none;
  }
  
  .dropdown-content a {
    color: black;
    padding: 0.768vw 1.4vw;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {
    background-color: #ddd;
    }
  
  .dropdown:hover .dropdown-content {
    display: block;
    }

  /*navbar-close*/

/*footer open*/
.footer{
    background-color: rgba(10, 17, 40, 1); 
    color: rgba(254, 252, 251, 1);
    margin-bottom: 0.668vw;
    text-align: center;
    font-size: 1.335vw;
}
/*footer end*/


  /*
  10, 17, 40, 1 oxford blue #0a1128
  1, 31, 84, 1 penn blue
  3, 64, 120, 1 indigo dye
  18, 130, 162, 1 cerulean
  254, 252, 251, 1 white   #fefbfc
  #E11F74
  */