*{
    font-family: 'Single Day', cursive;
}

.space{
    width: 100%;
    height: 8.347vw;
}

/*pages-start*/
.main{
    height: 43.403vw;
}

.main-home{
    padding-top: 14.356vw;
    background-color:  rgba(254, 252, 251, 1);
}

.main-gallery{
    background-color:rgba(254, 252, 251, 1); 
    border: 1px solid green;
    height: 41.066vw;
}

.main-project{
    background-color: rgba(254, 252, 251, 1);
}

.main-about{
    background-color: rgba(10, 17, 40, 0.3); 
    
}

.main-contact{
    background-color: rgba(254, 252, 251, 1);
}

/*pages-close*/

/*home page start*/
.home-topic{
    font-size:9vw;
    height: 40%;
}

.home-quote{
    font-size:3.5vw;
    height: 10%;
}

.home-main-bar{
    text-align: center;
    color: rgba(10, 17, 40, 1);
}


/*home page close*/


/*gallery page open*/

.gallery-bar{
    width: 100%;
    height: 50%;
    border: 1px solid green;
    float: left;
}

.gallery-bar1{
    width: 50%;
    height: 100%;
    border: 1px solid green;
    float: left;
}

.gallery-1{
    border: 1px solid green;
    width: 50%;
    height: 100%;
    float: left;
}
.gallery-topic{
    border: 1px solid green;
    width: 90%;
}

.gallery-name{
    font-size: 7.679vw;
    text-align: center;
    color: rgba(10, 17, 40, 1);
    border: 1px solid green;
}

.gallery-quote{
    font-size: 2.003vw;
    text-align: center;
    justify-content: center;
    color: rgba(254, 252, 251, 1);
    border: 1px solid green;
}

.gallery-box{
    width: 95%;
    height: 98%;
    border: 1px solid green;
    margin: auto;
}

a:hover .gallery-box{
    background-color: brown;
}
/*gallery page end*/

/*project page open*/
.project-topic{
    font-size: 7.679vw;
    text-align: center;
    color: rgba(10, 17, 40, 1);
}

.project-quote{
    font-size: 2.003vw;
    text-align: center;
    justify-content: center;
    color: rgba(	50, 48, 49, 1);
}

.all-project-bar{  
    margin-left: 8vw;
}

.project-item{
    float: left;
    height: 21vw;
    width:16%;
    margin-top: 1.669vw;  
    margin-left: 1.669vw;
}

.project-image{
    height: 60%;
    width: 80%;
    margin: auto;
    margin-top: 1.002vw; 
    border-radius: 1.669vw;
    background-color: rgba(50, 74, 95, 1);
}

.project-image:hover{
    background-color: rgba(10, 17, 40, 1);
}

.project-name{
    height: 9%;
    width: 100%;
    margin: auto;
    margin-top: 0.534vw;
    font-size: 1.669vw; 
    text-align: center;
}

.project-image-img{
    width: 30%;
    height: 30%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
/*project page end*/

/*about page open*/

.about-topic{
    font-size: 7.679vw;
    width: 33%;
    text-align: center;
    color: rgba(10, 17, 40, 1);
}

/*about page end*/

/*contact page open*/

.contact-topic{
    font-size: 7.679vw;
    width: 100%;
    text-align: center;
    color: rgba(1, 31, 84, 0.8);
}

#contact{
    height: 46.741vw;
}

/*contact page end*/

/*navbar-start */

#navbar {
    background-color: rgba(10, 17, 40, 1); 
    position: fixed; /* Make it stick/fixed */
    top: -8.681vw; /* Hide the navbar 50 px outside of the top view */
    width: 100%; 
    transition: top 0.8s; /* Transition effect when sliding down (and up) */
  }
   
  #navbar a {
    float: left;
    display: block;
    color: rgba(254, 252, 251, 1);
    text-align: center;
    padding: 0.668vw 1.335vw;
    text-decoration: none;
    font-size: 1.669vw;
  }
  
  #navbar a:hover {
    background-color: rgba(254, 252, 251, 1);
    color: rgba(10, 17, 40, 1);
  }

  .nav_right{
    float: right;
  }

  .logo-name{
    color: rgba(254, 252, 251, 1);
    font-size: 3.005vw;
  }
  /*navbar-close*/

/*footer open*/
.footer{
    background-color: rgba(10, 17, 40, 1); 
    color: rgba(254, 252, 251, 1);
    margin-bottom: 0.668vw;
    text-align: center;
    font-size: 1.335vw;
}
/*footer end*/


  /*
  10, 17, 40, 1 oxford blue
  1, 31, 84, 1 penn blue
  3, 64, 120, 1 indigo dye
  18, 130, 162, 1 cerulean
  254, 252, 251, 1 white
  */