*{
    font-family: 'Single Day', cursive;
}

/*pages-start*/
.main{
    height: 600px;
    border: 1px;
    /*border:1px solid green;*/
}

.main-home{
    margin-top: 215px;
    background-color:  rgba(254, 252, 251, 1);
}

.main-gallery{
    background-color: aquamarine;
}

.main-project{
    background-color: white;
}

.main-about{
    background-color: aquamarine;
}

.main-contact{
    background-color: rgba(229, 229, 229, 1);
}

/*pages-close*/


/*home page start*/
.topic{
    font-size:150px;
    height: 200px;
}

.slogan{
    font-size:50px;
    height: 100px;
}

.main_bar{
    text-align: center;
    color: rgba(10, 17, 40, 1);
}

.home_logo{
    height: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}
/*home page close*/




/*navbar-start */

#navbar {
    background-color: rgba(10, 17, 40, 1);; 
    position: fixed; /* Make it stick/fixed */
    top: -50px; /* Hide the navbar 50 px outside of the top view */
    width: 100%; 
    transition: top 0.3s; /* Transition effect when sliding down (and up) */
  }
  
  
  #navbar a {
    float: left;
    display: block;
    color: rgba(254, 252, 251, 1);
    text-align: center;
    padding: 15px;
    text-decoration: none;
  }
  
  #navbar a:hover {
    background-color: rgba(254, 252, 251, 1);
    color: rgba(10, 17, 40, 1);
  }

  .nav_right{
    float: right;
  }

  .logo-name{
    color: rgba(254, 252, 251, 1);
  }
  /*navbar-close*/

  /*
  10, 17, 40 oxford blue
  1, 31, 84 penn blue
  3, 64, 120 indigo dye
  18, 130, 162 cerulean
  254, 252, 251 white
  */