table, tr, th, td, .row, .col{
  border : 1px solid green;
}

.commission-box{
  height: 35vw;
  width: 80%;
}

.head-row{
  height: 25%;
}

.row-details{
  height: 20%;
}

.col{
  height: 100%;
  float: left;
}

.column{
  width: 20%;
}

.col2{
  width: 75%;
}

.column-price{
  width: 25%;
  float: left;
  border : 1px solid green;
  height: 100%;
}
        