.commission-area{
  border: 1px solid orange;
  height: 35vw;
}


.box{
  border: 1px solid orange;
  height: 100%;
  float: left;
}

.box-beside{
  width: 15%;
}

.commission-box{
  width: 70%;
}

.size{
  width: 30%;
  border: 1px solid orange;
  float: left;
}

.price{
  width: 69.7%;
  border: 1px solid orange;
  height: 100%;
  float: left;
}